@charset "utf-8";
/* CSS Document */

body{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
}


		/*modification de la section principale*/
#main{
	width: 80%;
	height: 75vh;
	background: #1c1e1f;
	display: flex;
}
/*--------------item du main-------*/
.item-main{
	flex: 1 0 0;
}
.item-main:nth-child(1){
	flex: 0.3 0 0;
}
.item-main:nth-child(2){
	flex: 1.2 0 0;
	height: 90vh;
	align-self: center;
	background: #099F31;
	border-radius: 1%;
	border: 1px solid ;
	box-shadow: 20px 0px 70px #000;
}
.item-main:nth-child(3){
	flex: 3 0 0;
}
.about{
	box-sizing: border-box;
	padding: 0.7em;
}
/*--------- id menu------*/
#menu{
	width: 100%;
	height: 75vh;
	display: flex;
}
/*--------item image-------------*/


#sect-article {
	background: #2355AF;
	width: 100%;
	min-height: 100%;
}
